# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov
.nyc_output

# Production
build/
dist/
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS files
.DS_Store
*.pem
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Prisma
apps/server/prisma/migrations/

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/

# Android
apps/mobile/android/
apps/mobile/.gradle/

# iOS
apps/mobile/ios/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Temporary files
tmp/
temp/
*.tmp
*.bak
*.cache
